language: python
sudo: false
python:
  - '3.6.5'

cache: pip

install:
  - pip install ansible

before_script:
  - wget https://releases.hashicorp.com/packer/1.2.5/packer_1.2.5_linux_amd64.zip -O /tmp/packer.zip
  - unzip /tmp/packer.zip -d $PWD/travis-bin/
  - wget https://releases.hashicorp.com/terraform/0.11.7/terraform_0.11.7_linux_amd64.zip -O /tmp/terraform.zip
  - unzip /tmp/terraform.zip -d $PWD/travis-bin/
  - export PATH=$PATH:$PWD/travis-bin/
  - export AWS_EC2_INSTANCE=m5.large
  - touch edx_vars.yml

script:
  - ansible-playbook -i hosts site.yml --syntax-check
  - packer validate packer-edx-sandbox.json
  - packer validate packer-edx-stateless.json
  - packer validate packer-edx-dbs.json
  - cd terraform && terraform init && terraform validate -check-variables=false

notifications:
  email:
    on_success: change
on_failure: always
